/* src/ContactForm.css */

.contact-form-container {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: #fff;
  }
  
  .contact-form {
    flex: 1;
    margin-right: 20px;
  }
  
  .contact-form h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .contact-form .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .contact-form .form-group input,
  .contact-form .form-group textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .contact-form .btn {
    background-color: #50a506;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .contact-info {
    flex: 1;
    margin-left: 20px;
    text-align: justify;
  }
  
  .contact-info h3 {
    font-size: 24px;
    margin-bottom: 10px;
    padding-top: 12%;
  }
  
  .contact-info p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
    
  }
  
  .contact-info .read-more {
    color: #50a506;
    text-decoration: none;
    font-weight: bold;
  }
  

  